{:paths ["src"]
 :deps {org.babashka/cli {:mvn/version "0.8.61"}}
 :tasks
 {:override-builtin true
  run {:doc "Analyze logs from distributed systems"
       :task (apply (requiring-resolve 'distributed_log_analyzer.core/-main) *command-line-args*)}
  test {:doc "Run tests"
        :extra-paths ["test"]
        :requires ([clojure.test :as t])
        :task (do
                (require 'distributed_log_analyzer.core-test)
                (let [{:keys [fail error]} (t/run-tests 'distributed_log_analyzer.core-test)]
                  (when (pos? (+ fail error))
                    (System/exit 1))))}}}
